<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-row>
   <ion-col>
     <ion-card>
       <ion-card-content>
         <ion-input type="text" placeholder ="Ingrese nombre" #nom></ion-input>
         <ion-input type="text" placeholder ="Ingrese precio" #pre></ion-input>
         <ion-input type="text" placeholder ="Ingrese imagen (URL)" #imgURL></ion-input>
         <ion-input type="text" placeholder ="Ingrese comentarios (Opcional)" #com></ion-input>
         <ion-button class ="ion-text-center" color="success" (click) = "addProducto(nom,imgURL,pre,com)">Agregar Producto</ion-button>
       </ion-card-content>
     </ion-card>
   </ion-col>
 </ion-row>
</ion-content>
