<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{datos.nombre}}</ion-title>

    <!--BOTON ELIMINAR-->
    <ion-buttons slot="end">
      <ion-button (click)="eliminarProducto()">
        <ion-icon name="trash-outline"></ion-icon>

      </ion-button>

    </ion-buttons>

    <!--BOTON EDITAR-->
    <ion-buttons slot="end">
      <ion-button (click)="editarProducto()">
          <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-img [src]="datos.imagenURL"></ion-img> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{datos.nombre}}</h1>
      </ion-col>
    </ion-row>

    <ion-list *ngIf= "datos.disponibilidad == off; else noDisponible">
      <h1 class="ion-text-center">Disponible</h1>
    </ion-list>
    
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">Precio: ${{datos.precio}}</h1>
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col>
        <ion-list *ngIf= "datos.comentarios && datos.comentarios.length > 0; else sinComentarios">
          <ion-item *ngFor="let c of com">
            {{c}}
          </ion-item>
        </ion-list>
        <ion-button color="success" size="medium" type="submit" expand="block">Comprar</ion-button>

        <ng-template #sinComentarios>
          <ion-text>
            <p class="ion-text-center">Sin Comentarios</p>
          </ion-text>
        </ng-template>

        <ng-template #noDisponible>
          <ion-text>
            <h1 class="ion-text-center">No disponible</h1>
          </ion-text>
        </ng-template>

        
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
