<ion-header>
  <ion-toolbar>
    <ion-title>Editar producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-input type="text" [(ngModel)]="producto.nombre" #nombre></ion-input>
          </ion-item>
          
          <ion-item>
           <ion-checkbox slot="start" type="checkbox" [(ngModel)] = "producto.disponibilidad" color="primary"   #disponibilidad></ion-checkbox>
           <ion-label>¿Disponible?  </ion-label>
          </ion-item>

          <ion-item>
            <ion-input type="text" [(ngModel)]="producto.precio" #precio></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input type="text" [(ngModel)]="producto.imagenURL" #imagenURL></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input type="text" [(ngModel)]="producto.comentarios"#comentarios></ion-input>
          </ion-item>
             
          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]= "producto.categorias" #categoria>
              <ion-select-option value="brown">Blindados</ion-select-option>
              <ion-select-option value="blonde">Aviones</ion-select-option>
              <ion-select-option value="black">Barcos</ion-select-option>
              <ion-select-option value="red">Coleccionables</ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-list>
            <ion-radio-group [(ngModel)]="producto.escala" value="rbEscala" #escala>
              <ion-list-header>
                <ion-label>Escala</ion-label>
              </ion-list-header>
        
              <ion-item>
                <ion-label>No aplica</ion-label>
                <ion-radio slot="start" value=0 ></ion-radio>
              </ion-item>
  
              <ion-item>
                <ion-label>1/72</ion-label>
                <ion-radio slot="start" value=1></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>1/48</ion-label>
                <ion-radio slot="start" value=2></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>1/32</ion-label>
                <ion-radio slot="start" value=3></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          
          <ion-button class ="ion-text-center" color="success" (click) = "actualizarProductos(nombre,disponibilidad,imagenURL,precio,comentarios)">Actualizar producto</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
