<ion-header>
  <ion-toolbar>
    <ion-title>Editar producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" [(ngModel)]="producto.nombre" #nom></ion-input>
         <div>
           <ion-checkbox type="checkbox" [(ngModel)] = "producto.disponibilidad" color="primary" #disp></ion-checkbox>
           <h3>¿Disponible?</h3>
         </div>
 
          <ion-input type="text" [(ngModel)]="producto.precio" #pre></ion-input>
          <ion-input type="text" [(ngModel)]="producto.imagenURL" #imgURL></ion-input>
          <ion-input type="text" [(ngModel)]="producto.comentarios"#com></ion-input>
          <ion-button class ="ion-text-center" color="success" (click) = "actualizarProductos(nom,disp,imgURL,pre,com)">Agregar producto</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
