<ion-header>
  <ion-toolbar>
    <ion-title>Editar producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-input type="text" [(ngModel)]="producto.nombre" #nombre></ion-input>
          </ion-item>
          
          <ion-item>
           <ion-checkbox slot="start" type="checkbox" [(ngModel)] = "producto.disponibilidad" color="primary"   #disponibilidad></ion-checkbox>
           <ion-label>¿Disponible?  </ion-label>
          </ion-item>

          <ion-item>
            <ion-input type="text" [(ngModel)]="producto.precio" #precio></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input type="text" [(ngModel)]="producto.imagenURL" #imagenURL></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input type="text" [(ngModel)]="producto.comentarios"#comentarios></ion-input>
          </ion-item>
             
          <ion-item>
            <ion-label>Hair Color</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="brown">Brown</ion-select-option>
              <ion-select-option value="blonde">Blonde</ion-select-option>
              <ion-select-option value="black">Black</ion-select-option>
              <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-item>
            <ion-label>Hola</ion-label>
            <ion-radio></ion-radio>
          </ion-item>
          
          <ion-button class ="ion-text-center" color="success" (click) = "actualizarProductos(nombre,disponibilidad,imagenURL,precio,comentarios)">Actualizar producto</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
