<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">Productos</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="redirectLogin()">
        <ion-icon name="exit-outline"></ion-icon>
    
      </ion-button>
    
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="background-prod">
  
  <!--<ion-searchbar

  [(ngModel)]="searchObj"

  [showCancelButton]="miStringDeCancell"

  (ionInput)="onInput($event)"

  (ionCancel)="onCancel($event)">

</ion-searchbar>-->

  
  <!-- prueba de 9swiper  -->

    <!--<swiper>
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
    </swiper>-->
  
  
  <ion-list>
    <ion-card *ngFor = "let pro of productos" [routerLink] = "['/productos',pro.id]">
    <ion-item >
        <ion-img [src] = "pro.imagenURL" ></ion-img>
    </ion-item>
    <ion-card-content>
      {{pro.nombre}}
    </ion-card-content>
  </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="redirectAgregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
