<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">Productos | {{user}}</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="redirectLogin()">
        <ion-icon name="exit-outline"></ion-icon>
    
      </ion-button>
    
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor = "let pro of productos" [routerLink] = "['/productos',pro.id]">
      <ion-avatar slot="start">
        <ion-img [src] = 'pro.imagenURL'></ion-img>
      </ion-avatar>
      <ion-label>
        {{pro.nombre}}
      </ion-label>

    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="redirectAgregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
